<div fxLayout="column" fxLayoutAlign="space-around center" >
  <div   >
    <button md-button (click)="addTeam($event)">
      <md-icon>create</md-icon>
      Add your team
    </button>
  </div>
  <div   >
  <md-list  fxFlex="100">
   <md-list-item *ngFor="let team of teams">
     <button [routerLink]="['/teams', team.id]"  md-button>
     {{team.name}}
     </button>
     <button md-icon-button (click)="remove(team)">
       <md-icon>delete</md-icon>
     </button>
   </md-list-item>
  </md-list>
  </div>
</div>
